.DS_Store?
.DS_Store
*.old
*.old/*
*.new
*.new/*
old
old/*
*[a-z].1
*[a-z].1/*
sess_*
*.cache
*.swp
*.swo
.htaccess
tmp
.idea
.svn
.sass-cache
.sass-cache/*
.scss-cache
.scss-cache/*
*.css.map
pwx.php
error_log
node-modules/
/node_modules