@import "base/_variables";
@import "base/_mixins";
@import "../base/_variables";

@import "normalize.css";
@import "../modules/_loader";
@import "../base/_global";
@import "../modules/_header";
@import "../modules/_main-nav";
@import "../modules/_basic-page";
@import "../modules/_body-rte";
@import "../modules/_footer";


@import "modules/_header";
@import "modules/_hero";
@import "modules/_slidecards";
@import "modules/_basic-page";

@import "modules/_performance-wizard";
@import "modules/_footer";

@import "../modules/vendor/lightslider.min";

@import "modules/_testimonial-slider";
@import "modules/_hp-featured";


body  {
  background-color: $msGreen;
  font-family: $body-font;
  font-weight: 300;
}

p {
  strong {
    font-weight: 700;
  }
}

.adminEditLink {
  padding: 1rem 2rem;
  background-color: fuchsia;
  color: $white;
  position: fixed;
  top:0;
  left:0;
  z-index: 1000;
}