$body-font: europa, sans-serif;
$heading-font: Jubilat, serif;

$mainColor: #fff;
$white: #fff;
$off-white: #fbfde8;
$black: #000;
$msGreen: #87CC2F;

$msDarkBrown: #301111;
$oasisGreen: green;
$mainAccent: orange;

$fz1: 3.157rem;
$fz2: 2.369rem;
$fz3: 1.777rem;
$fz4: 1.333rem;

