.hero {
  /* background-color: rgba(100, 100, 100, .5);
  background: radial-gradient(circle, #297354 0%, #0e713a 100%); */
  text-align: left;
  color: $white;

  .package-slide__content {
    padding-top: 4.5rem;
    padding-bottom: 10rem;
    

    @mixin atMedium {
      padding-bottom: 5rem;
    }

    @mixin atXHuge {
      padding-top: 2rem;
    }
  }

  &__headerPrefix {
    font-family: $heading-font;
    font-style: italic;
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 2rem;
    display: block;
    text-align: center;
    

    @mixin atMedium {
      font-size: 2rem;
      text-align-last: left;
    }
  }

  &__mainTitle{

    font-family: $body-font;
    font-weight:  900;
    text-transform: uppercase;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
    line-height: 1.2em;
    margin-top: 20px;
    margin-bottom:30px;
    font-size: 2.5rem;
    text-align: center;
    
    @mixin atMedium {
      text-align: left;
    }

    @mixin atLarge {
      font-size: 3.7rem;
      
    }
    
  }

  &__tagLine {
    line-height: 1.8em;
    font-family: $body-font;
    color: $msDarkBrown;
    font-size: 1rem;
    text-align: center;  
    display: block;

    

    @mixin atMedium {
      font-size: 1.125rem;
      display: inline-block;
     
      
      br  {
        display: none;
      } 
    }
    
  }

  &__mainSubtitle {
    font-weight:  300;
    font-size:  2rem;
    text-align:left;
    color: $msDarkBrown;
    margin-top: 0;
    text-align: center;

    @mixin atMedium {
      text-align: left;
    }
  }
}



/* scroll button */

.scrollBtn {
  display:  block;
  font-size:  18px;
  text-decoration: none;
  padding-top: 40px;
  position: absolute;
  bottom: 3rem;
  left: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  transition: opacity .3s;
}
.scrollBtn span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
.scrollBtn :hover {
  opacity: .5;
}