$s0-color: #98d874;
$s1-color: #e4e4e4;
$s2-color: #c9fda8;
$s3-color: #deceff;
$s4-color: #adf5ff;
$s5-color: #ffcfd7;
$s6-color: #fdedb0;

/* $s4-color:#c8f8ff; */

.package-slide {
  margin: 0;
  background-position: top left;
  background-attachment: fixed;
  padding: 1px;


  &__content-wrapper { 
    background-position: top left;
    position: relative;
    padding: 1rem;
    
    
    
    .packageSlide0 & {
        background-image: radial-gradient(circle at 15% 50%, #dffdc6 0%, $s0-color 60%);
    }
    
    .packageSlide1 & {
      background-image: radial-gradient(circle at 0% 0%, #ffffff 0%, $s1-color 60%);
    }

    .packageSlide2 & {
      background-image: radial-gradient(circle at 0% 0%, #ffffff 0%, $s2-color 60%);
    }

    .packageSlide3 & {
      /* #cec3e4 deceff */
      background-image: radial-gradient(circle at 0% 0%, #ffffff 0%, $s3-color 60%);
      
    }

    .packageSlide4 & {
      background-image: radial-gradient(circle at 0% 0%, #ffffff 0%, $s4-color 60%);
      /* #97dfea */
    }

    .packageSlide5 & {
      background-image: radial-gradient(circle at 0% 0%, #ffffff 0%, $s5-color 60%);
    }

    .packageSlide6 & {
      background-image: radial-gradient(circle at 0% 0%, #ffffff 0%, $s6-color 60%);      
    }

    
    @mixin atMedium {
      /* min-height: 80vh; */
      background-repeat: no-repeat;
      padding: 10% 5% 5% 5%;
      background-position: 10% 14rem, top left;
      background-attachment: fixed;
      background-size: 300px, auto;

      $spotlight-gradient: 20% 43%;

      .packageSlide0 & {
        background-image: url('/site/templates/assets/images/programming/main-cover.png'), radial-gradient(ellipse at $spotlight-gradient, #dffdc6 0%, $s0-color 30%);
      }

      .packageSlide1 & {
        /* background-image: url('/site/templates/assets/images/programming/whole-adnotated.png'), radial-gradient(ellipse at $spotlight-gradient, rgba(232,252,219,1) 0%,rgba(241,234,255,1) 31%,rgba(234,252,255,1) 50%,rgba(255,234,238,1) 74%,rgba(252,248,232,1) 100%); */
        background-image: url('/site/templates/assets/images/programming/whole-adnotated.png'), radial-gradient(ellipse at $spotlight-gradient, rgba(232,252,219,1) 0%,rgba(234,224,255,1) 31%,rgba(224,250,255,1) 50%,rgba(255,224,230,1) 75%,rgba(249,243,219,1) 100%);
         
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e8fcdb+0,f1eaff+31,eafcff+50,ffeaee+74,fcf8e8+100 */
      }

      .packageSlide2 & {
        background-image: url('/site/templates/assets/images/programming/base-adnotated.png'), radial-gradient(circle at $spotlight-gradient, #ffffff 0%, $s2-color 30%);
      }

      .packageSlide3 & {
        /* #cec3e4 */
        background-image: url('/site/templates/assets/images/programming/back-adnotated.png'), radial-gradient(ellipse at $spotlight-gradient, #ffffff 0%, $s3-color 30%);
      }

      .packageSlide4 & {
        background-image: url('/site/templates/assets/images/programming/left-adnotated.png'), radial-gradient(ellipse at $spotlight-gradient, #ffffff 0%, $s4-color 30%);
        /* #97dfea */
      }

      .packageSlide5 & {
        background-image: url('/site/templates/assets/images/programming/right-adnotated.png'), radial-gradient(ellipse at $spotlight-gradient, #ffffff 0%, $s5-color 30%);
      }

      .packageSlide6 & {
        background-image: url('/site/templates/assets/images/programming/front-adnotated.png'), radial-gradient(ellipse at $spotlight-gradient, #ffffff 0%, $s6-color 30%);      
      }

    }

    @mixin atLarge{
      padding: 10% 5% 5% 5%;
      background-position: 10% 13rem, top left;
      background-size: 400px, auto;
    }

    @mixin atHuge{
      padding: 10% 5% 5% 5%;
      background-position: 15% 13rem, top left;
      background-size: auto;
    }

    @mixin atXHuge{
      padding: 10% 5% 5% 5%;
      background-position: 20% 13rem, top left;
      background-size: auto;
    }

  }
  /* end __content-wrapper */

  &__mobile-image {
    display: block;
    margin: 0 auto;

    @mixin atMedium {
      display: none;
    }
  
  }

  &__content {
    
    @mixin atMedium {
      margin-left: 55%;
    }
    
  }   

  .body-rte{
    h3 {
      font-size: 1.4rem;
    }
    p {
      color: color($msDarkBrown l(40%) s(-40%));
    }

    p a, li a {
      text-shadow: none;
    }
  }

  &__rte {
    margin-top: -3rem;

    @mixin atMedium {
      margin-top: 0;
    }

    p {
      line-height: 1.8em;
      font-family: $body-font;
      color: gray;
      font-size: 18px;
    }

    ul li {
      line-height: 1.5em;
      font-family: $body-font;
      color: gray;
      font-size: 1.1rem;
      margin-bottom: 0.7rem;

      @mixin atMedium {
        font-size: 1.25rem;              
      }
    }

    ul li a {
        color: green;
    }

    h3 {
      line-height: 1.8em;
      font-family: $body-font;
      color: #7d5454;
      font-size: 20px;
    }
  }
  /* end __rte */

  &__title {
    font-weight:  300;
    font-size: 2rem;
    text-align:left;
    margin-top: 20px;
    color: #57b543;
    margin-bottom: 0;

    @mixin atMedium {
      font-size:  3.125rem;
      margin-bottom:0;  
    }
  }

  &__undertitle {
    font-size: 1rem;
    font-weight:  400;
    color: color($msDarkBrown a(80%));
   
    margin-bottom: 1rem;

    @mixin atMedium {
      margin-bottom: 60px;
      font-size: 1.25rem;
    }
  }

  &__button-wrapper {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;

    @mixin atMedium {
      margin-top: 2rem;
    }

    @mixin atLarge {
      margin-top: 4rem;
      margin-bottom: 3rem;
    }

    br {
      display: none;

      @mixin atLarge {
        display: inline;
      }
    }
  }

  &__button {
    font-size: 1rem;
    padding: 0.7rem 1.5rem;
    margin-top: 1rem;
    display: block;
    font-weight: 300;
    letter-spacing: 0.05em;
    box-shadow: -3px 3px color($white );
    
    

    background-color: color(#57b543 l(+5%));

    @mixin atMedium {
      max-width: 80%;
      margin: 0 auto;
      margin-top: 1rem;
    }

    @mixin atLarge {
      
    }

    @mixin atHuge {
      font-size: 1.2rem;
      display: inline-block;
      
    }

    &:first-child {
      margin-top: 0;
    } 

    &:hover {
      background-color: $white;
      color: color($s2-color s(+30%) l(-25%) b(+20%));
      box-shadow: -3px 3px color(#57b543 l(+5%));
    }

    /* .packageSlide2 & {
      background-color: color($s2-color s(+30%) l(-25%) b(+20%));
      
      &:hover {
        background-color: $white;
        color: color($s2-color s(+30%) l(-25%) b(+20%));
      }
    }

    .packageSlide3 & {
      background-color: color($s3-color s(+30%) l(-25%) b(+20%));
      
      &:hover {
        background-color: $white;
        color: color($s3-color s(+30%) l(-25%) b(+20%));
      }
    }

    .packageSlide4 & {
      background-color: color($s4-color s(+30%) l(-25%) b(+20%));
      
      &:hover {
        background-color: $white;
        color: color($s4-color s(+30%) l(-25%) b(+20%));
      }
    }

    .packageSlide5 & {
      background-color: color($s5-color s(+30%) l(-25%) b(+20%));
      
      &:hover {
        background-color: $white;
        color: color($s5-color s(+30%) l(-25%) b(+20%));
      }
    }

    .packageSlide6 & {
      background-color: color($s6-color s(+30%) l(-25%) b(+20%));
      
      &:hover {
        background-color: $white;
        color: color($s6-color s(+30%) l(-25%) b(+20%));
      }
    } */

  }
}