.basic-page {

  &__hero {
    
    width: 100%;
    height: 100%;
    height: 300px;
    position: relative;
    color: $white;
    margin-top: 5rem;
    /* background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAF0lEQVQIW2NkYGD4z8DAwMgAI0AMDA4AI3EBBCKrOnQAAAAASUVORK5CYII='); */

    @mixin atMedium {
      height: 400px;
    }

   

    @mixin atHuge {
      height: 580px;
    }

    &-bg-image-source {
      height: 300px;
      position: fixed;
      z-index: -100;
      overflow: hidden;
      min-width: 100%;
      
      @mixin atMedium {
        height: 400px;
      }
      
      @mixin atHuge {
        height: 580px;
      }
    }

    &-bg-image {
      min-width: 100%;
      max-width: none;
      min-height: 100%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    &-overlay {

      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: color(#252b33 a(30%));
    }

    &-content {
      position: absolute;
      top:50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 100%;
      z-index: 900;
      text-align: center;
      padding: 0 5%;
    }

    &-title {
      font-size: 2.2rem;
      text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
      font-weight: 400;
      
      @mixin atMedium {
        font-size: $fz1;
      }

      @mixin atLarge {
        font-size: 4rem;
        
      }
    }
  }

  

  &__content {
    /* background-color: $off-white; */
    background-color: #fcfff2;
  }

  &__content-wrapper {
    padding: 3rem 1rem;

    @mixin atMedium {
      padding: 3rem 2rem 2rem 2rem;
      /* box-shadow: 3px 3px 3px color($black a(30%)), -3px 0 3px color($black a(30%)); */
      font-size: 1.125rem;   
    }

    @mixin atLarge {
      max-width: 800px;
      margin: 0 auto;
      padding: 4rem 0;
    }

    h2 {
      color: $msGreen;
    }

    p a, li a {
      text-shadow: .03em 0 $off-white, -.03em 0 $off-white, 0 .03em $off-white, 0 -.03em $off-white, .06em 0 $off-white, -.06em 0 $off-white, .09em 0 $off-white, -.09em 0 $off-white, .12em 0 $off-white, -.12em 0 $off-white, .15em 0 $off-white, -.15em 0 $off-white;
      
      color: color($msGreen l(-5%) w(-30%));
      text-decoration: none; 
      background-image:
        linear-gradient($msGreen, $msGreen),
        linear-gradient($msGreen, $msGreen),
        linear-gradient($msGreen, $msGreen);
      background-size: .05em 2px, .05em 2px, 2px 2px;
      background-repeat: no-repeat, no-repeat, repeat-x;
      background-position: 0% 100%, 100% 100%, 0% 100%;
      padding-bottom: 1rem;
      
      padding: 0 0.05em;

      &:hover {
        /* background-image:  linear-gradient(color($msGreen l(+20%)), color($msGreen l(+20%))); */
        color: color($msGreen l(-20%));
        /* background-size: auto; */
        
      }
    }
  }

  

}